{% extends 'base.html' %}
{% block title %}Contact Us{% endblock %}
{% block content %}
<div class="card p-5">
    <h2 class="text-center text-primary mb-4">Contact Us</h2>
    <p>If you have any questions or feedback about this Intrusion Detection System, feel free to reach out!</p>

    <ul>
        <li><b>Email:</b> veekshaveekshas@gmail.com</li>
         <li><b>Email:</b> bhavanasmlad@gmail.com</li>
         <li><b>Email:</b> archana41076@gmail.com </li>
         <li><b>Email:</b> srujanaphadke@gmail.com</li>
        <li><b>Phone:</b> +91 9482652678</li>
         <li><b>Phone:</b> +91 9972865319</li>
         <li><b>Phone:</b> +91 6363212119</li>
         <li><b>Phone:</b> +91 9019304883</li>
        <li><b>Address:</b> Ujre,Dakshinakannada district, karnataka, India</li>
    </ul>

    <p class="text-center mt-4 text-muted">We appreciate your feedback and collaboration ❤️</p>
</div>
{% endblock %}
